* {
    box-sizing: border-box;
}

:root {
    --color-accent: #4744eb;
    --color-text: #fff;
    --color-bg: #111210;
    --color-surface0:#2f2f30;
    --color-surface1: #373638;
    --color-surface2: #48464a;

    --font-family: "Switzer", sans-serif;

    --rounding: 6px;

    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
    --ease-in-out-sine: cubic-bezier(0.37, 0, 0.63, 1);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6, p {
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    /*border-radius: 48px;*/
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* global select styles */
