* {
    box-sizing: border-box;
}

:root {
    --color-text: #fff;
    --color-bg: #111210;
    --color-surface0: #282A27;
    --font-family: "Inter", sans-serif;

    --rounding: 12px;

    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
    --ease-in-out-sine: cubic-bezier(0.37, 0, 0.63, 1);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6, p {
    margin: 0px;
    padding: 0px;
}
