* {
    box-sizing: border-box;
}

.theme-dark {
    --color-text: #fff;
    --color-bg-darker: #030303;
    --color-bg: #111210;
    --color-bg-layer: #1a1c1b;
    --color-surface0: #2f2f30;
    --color-surface1: #373638;
    --color-surface2: #48464a;

    --color-transoutline: rgba(255, 255, 255, 0.2);

    --cp-bg-color: var(--color-bg-layer);
    --cp-border-color: var(--color-surface0);
    --cp-text-color: var(--color-text);
    --cp-input-color: var(--color-surface0);
}

/* work in progress */
.theme-light {
    --color-text: #000;
    --color-bg-darker: #030303;
    --color-bg: #f1f1f1;
    --color-bg-layer: #d9d9d9;
    --color-surface0: #d4d4d4;
    --color-surface1: #b8b8b8;
    --color-surface2: #969696;

    --color-transoutline: rgba(0, 0, 0, 0.2);

    --cp-bg-color: var(--color-bg-layer);
    --cp-border-color: var(--color-surface0);
    --cp-text-color: var(--color-text);
    --cp-input-color: var(--color-surface0);
}

:root {
    --color-accent: #4744eb;
    --color-danger: #ff4444;

    --font-family: "Switzer", sans-serif;

    /*--rounding: 6px;*/

    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
    --ease-in-out-sine: cubic-bezier(0.37, 0, 0.63, 1);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--color-bg);
    overflow: hidden;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

hr {
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-color: color-mix(
        in srgb,
        var(--color-text) 30%,
        transparent 40%
    );
    width: 100%;
    height: fit-content;
    align-self: center;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    /*border-radius: 48px;*/
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* global range styles */
input[type="range"] {
    accent-color: var(--color-accent);
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: color-mix(
        in srgb,
        var(--color-accent) 10%,
        var(--color-surface2) 90%
    );
    height: 0.5rem;
    border-radius: var(--rounding);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -8px; /* Centers thumb on the track */
    background-color: var(--color-accent);
    height: 1.5rem;
    width: 0.8rem;
    border-radius: var(--rounding);
}
